<!DOCTYPE html>
<html>
	<body>
		<h3>Welcome to PubKey service!</h3>
		<p>
			Please activate your account before use.<br>
			Below, You will find useful links to manage Your account.<br>
		</p>
		<ul>
			<li>Your username: {{.Username}}</li>
			<li>API: <a href="{{.APILink}}">{{.APILink}}</a></li>
			<li>Activate link: <a href="{{.ActivateLink}}">{{.ActivateLink}}</a></li>
			<li>Delete link: <a href="{{.DeleteLink}}">{{.DeleteLink}}</a></li>
		</ul>
		<p>
			If you did not register for this event, please ignore this email.
		</p>
	</body>
</html>
